@mixin font-face($font-family, $font-weight, $font-style,$font-display: swap, $folder-name, $file-name,) {
  $filepath: '../fonts/#{$folder-name}/#{$file-name}';
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$filepath}.eot');
    src: url('#{$filepath}.eot?#iefix') format('embedded-opentype'),
    url('#{$filepath}.woff2') format('woff2'),
    url('#{$filepath}.woff') format('woff'),
    url('#{$filepath}.ttf') format('truetype'),
    url('#{$filepath}.svg#TiltPrism-Regular') format('svg');
    font-weight: #{$font-weight};
    font-style: #{$font-style};
    font-display: #{$font-display};
  }
}
//@import "../fonts";